setup: true
version: 2.1

orbs:
  continuation: circleci/continuation@0.2.0

workflows:
  setup:
    jobs:
      - continuation/continue:
          configuration_path: '.circleci/main.yml'
          parameters: /home/circleci/params.json
          pre-steps:
            - checkout:
                fetch-depth: 2
            - run:
                name: Generate params.json
                command: |
                  IS_BUILD_AND_DEPLOY_CMS=false
                  IS_BUILD_AND_DEPLOY_WEB=false

                  if git diff --name-only "$CIRCLE_SHA1" "$CIRCLE_SHA1~1" | grep '^cms/' >/dev/null; then
                    [[ "${CIRCLE_BRANCH}" =~ ^(develop|main|master|release.*)$ ]] && IS_BUILD_AND_DEPLOY_CMS=true
                  fi

                  if git diff --name-only "$CIRCLE_SHA1" "$CIRCLE_SHA1~1" | grep '^web/' >/dev/null; then
                    [[ "${CIRCLE_BRANCH}" =~ ^(develop|main|master|release.*)$ ]] && IS_BUILD_AND_DEPLOY_WEB=true
                  fi

                  echo "{
                    \"is_build_and_deploy_cms\": $IS_BUILD_AND_DEPLOY_CMS,
                    \"is_build_and_deploy_web\": $IS_BUILD_AND_DEPLOY_WEB
                  }" > /home/circleci/params.json
