@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* cursor: none; */
  @apply transition-colors duration-0;
}

html {
  position: relative;
}

:root {
  --font-open-sans: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #7c00ff;
  --color-triangole: #00c8ff;
  --color-description: #2c2c2c;
  --color-footer: #dfe3eb;
  --color-background: #ffffff;
  --color-card: #eff1fb;
  --color-text: #000000;
  --background-image: url("https://marketifythemes.net/html/dizme/img/slider/1.jpg");
  --color-sub-bg: #f3f4f9;
}

.dark {
  --color-background: #0f0f0fc6;
  --color-text: #ffffff;
  --color-card: #4b4f5c;
  /* --background-image: url("https://res.cloudinary.com/deizfnbwc/image/upload/v1745336072/DSC06808_oi64y8.jpg"); */
  --background-image: url("https://marketifythemes.net/html/dizme/img/slider/2.jpg");
  --color-description: #b9b5c9;
  --color-footer: #0d0d0e;
  --color-sub-bg: #272728;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-open-sans);
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0);
  animation: ripple-effect 0.5s linear;
  z-index: 999999;
}

@keyframes ripple-effect {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 3.7% 15.9%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 5.9% 90%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fill {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.hover\:animate-fill:hover {
  background: linear-gradient(90deg, transparent, #f75023);
  background-size: 200% 200%;
  animation: fill 1s forwards;
}

.button {
  position: relative;
  background: #f72359;
  color: white;
  border-radius: 100px;
  overflow: hidden;
}

.button span {
  position: relative;
  pointer-events: none;
}

.button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.button:hover::before {
  --size: 400px;
}


.flash-animation-item {
	position: relative;
	overflow: hidden;
}

.flash-animation-item::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: skewX(-20deg) translateX(-110%);
	background-image: linear-gradient(100deg, rgba(1, 1, 1, 0) 30%, white);
	animation: itemMenu 0.7s 0.1s forwards;
	display: none;
}

.flash-animation-item:hover::after {
	display: block;
}

@keyframes itemMenu {
	to {
		transform: skewX(-20deg) translateX(110%);
	}
}

.perspective {
  perspective: 1000px;
}

.flip-card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1.5rem; /* rounded-3xl */
}

.flip-card-back {
  transform: rotateY(180deg);
}

.group:hover .flip-card {
  transform: rotateY(180deg);
}
